name: Customer

on: push

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/composer
      - uses: ./.github/actions/config

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/composer
      - uses: ./.github/actions/config
      - uses: ./.github/actions/test

  quality:
    name: Quality PSR2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/composer
      - uses: ./.github/actions/config
      - run: ./vendor/bin/phpcs